@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "iranSans";
  src: url("../public/fonts/iranSans.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;
}

/* Apply font based on language */
:lang(fa) {
  font-family: "iranSans", sans-serif; /* Fallback font */
}

:lang(en) {
  font-family: "Poppins", sans-serif; /* Fallback font */
}

html {
  scroll-behavior: smooth;
}

.hero {
  background-image: url("../public/assets/testFinal.png");
  background-size: cover;
}
.sec2Wallpaper {
  background-image: url("../public/assets/sec2Wallpaper.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}
.sec3Wallpaper-aboutUs {
  background-image: url("../public/assets/sec3Wallpaper-aboutUs.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}

/* scroll the scrollbar */
#progress {
  position: fixed;
  top: 80px;
  left: 20px;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: gray;
  opacity: 0.3;
}

#progress .indicator {
  stroke: red;
}

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background: rgba(255, 0, 0, 0.2);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: red;
}
