@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranSans";
  src: url("../public/fonts/iranSans.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.hero {
  background-image: url("../public/assets/testFinal.png");
  background-size: cover;
}
.sec2Wallpaper {
  background-image: url("../public/assets/sec2Wallpaper.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}
.sec3Wallpaper-aboutUs {
  background-image: url("../public/assets/sec3Wallpaper-aboutUs.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}
