@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "iranSans";
  src: url("../public/fonts/iranSans.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;
}

/* Apply font based on language */
:lang(fa) {
  font-family: "iranSans", sans-serif; /* Fallback font */
}

:lang(en) {
  font-family: "Poppins", sans-serif; /* Fallback font */
}

html {
  scroll-behavior: smooth;
}

.hero {
  background-image: url("../public/assets/testFinal.png");
  background-size: cover;
}
.sec2Wallpaper {
  background-image: url("../public/assets/sec2Wallpaper.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}
.sec3Wallpaper-aboutUs {
  background-image: url("../public/assets/sec3Wallpaper-aboutUs.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}

/* scroll the scrollbar */
#progress {
  position: fixed;
  top: 80px;
  left: 20px;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: gray;
  opacity: 0.3;
}

#progress .indicator {
  stroke: red;
}

:root {
  --scrollbar-bg: rgba(255, 0, 0, 0.2);
  --scrollbar-thumb-bg: rgb(0, 0, 0);
  --scrollbar-corner-bg: red;
}

.dark {
  --scrollbar-bg: rgba(255, 0, 0, 0.2);
  --scrollbar-thumb-bg: rgb(255, 255, 255);
  --scrollbar-corner-bg: darkred;
}

::-webkit-scrollbar {
  height: 10px;
  width: 15px;
  background: var(--scrollbar-bg);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
}
::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--scrollbar-corner-bg);
}

/* addBanner */

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(204, 88%, 51%) 0%,
    hsl(216, 77%, 38%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(150px);
}
.gradient-02 {
  background-image: linear-gradient(
    270deg,
    hsl(298, 75%, 41%) -0%,
    hsl(216, 77%, 38%) 80%,
    hsl(187, 76%, 51%) 100%
  );
  filter: blur(120px);
}
.gradient-03 {
  background-image: linear-gradient(
    270deg,
    hsl(204, 100%, 50%) 0%,
    hsl(216, 77%, 38%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(140px);
}
.gradient-04 {
  background-image: linear-gradient(
    270deg,
    hsl(59, 88%, 51%) 0%,
    hsl(281, 77%, 38%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(250px);
}
.gradient-05 {
  background-image: linear-gradient(
    270deg,
    hsl(342, 88%, 51%) 0%,
    hsl(189, 90%, 49%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(250px);
}

.gradient-06 {
  background-image: linear-gradient(
    270deg,
    hsl(204, 100%, 50%) 0%,
    hsl(290, 90%, 55%) 100%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(120px);
}

.menu {
  filter: drop-shadow(1px 1px 1px #4700b3);
  width: 300px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(20px);
  z-index: 999; /* Adjust if necessary to ensure it appears behind the modal */
}


